.container {
  min-width: 200px;
  max-width: 500px;
  color: white;
  background-color: #0070f3;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid transparent;
  border-radius: 12px;
}

.text {
  font-size: 21px;
}

.author {
  text-align: right;
}
